{% extends 'base.html' %}

{% block content %}
    <h3>Машины</h3>
    <table border="1" cellpadding="5" cellspacing="2" width="600">
    <tbody>
        <tr>
            <th>id</th>
            <th>Марка</th>
            <th>Модель</th>
            <th>Год выпуска</th>
        </tr>
        {% for car in cars %}
        <tr>
            <td>{{ car.id }}</td>
            <td><a href="{% url 'car_detail' car.id %}">{{ car.make }}</a></td>
            <td>{{ car.model }}</td>
            <td>{{ car.year }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
    <a href="{% url 'add_car' %}">Добавить машину</a>
{% endblock %}